Repository vaticle/factory-tracing, pull requests merged in 2020-08, with the labels that each got.

#26 Bump version for release - 0.1.1
  VERSION
Labels: priority: blocker, type: build

#28 Assemble maven from bazel_distribution and add license headers
  WORKSPACE
  client/BUILD
  client/GrablTokenAuthClientInterceptor.java
  client/GrablTracing.java
  client/GrablTracingNoOp.java
  client/GrablTracingSlf4j.java
  client/GrablTracingStandard.java
  client/GrablTracingThreadStatic.java
  client/TraceStream.java
  client/test/GrablTracingClientTest.java
  dependencies/graknlabs/repositories.bzl
  example/ExampleTracingClient.java
  example/ExampleTracingServer.java
  example/logback.xml
  protocol/BUILD
  protocol/util/ProtobufUUIDUtil.java
  test/deployment/pom.xml
  test/deployment/src/test/java/application/MavenApplicationTest.java
Labels: priority: high, type: build, type: refactor

#32 Refactor WORKSPACE and add filegroup declaring CI targets
  BUILD
  WORKSPACE
  dependencies/graknlabs/repositories.bzl
Labels: type: build

#33 Refactor to use new declarations for org and repo artifacts
  WORKSPACE
  client/BUILD
  dependencies/graknlabs/repositories.bzl
  dependencies/maven/artifacts.bzl
  protocol/BUILD
Labels: type: build
